{% extends 'layouts/dashboard.html.twig' %}
{% block title %}Services list{% endblock %}
{% block body %}
    <div class="form-group text-right">
      <a href="{{ path('service_new') }}" class="btn btn-success">Create a new service</a>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.name }}</td>
                <td>
                  <a href="{{ path('service_show', { 'id': service.id }) }}" class="btn btn-info glyphicon glyphicon-share-alt" ></a>
                  <a href="{{ path('service_edit', { 'id': service.id }) }}" class="btn btn-primary glyphicon glyphicon-pencil" ></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
